

    <div class=" on-page">
      <%= image_tag('banner-footer2.jpg',  class: 'background-image', alt:'Background') %>
    </div>
	<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<ul class="footer-navigation">
								<li class="active"><%= link_to 'Home', root_path %></li>
								<li><%= link_to 'Nosotros', conocenos_path %></li>
								<li><%= link_to 'Programas', programa_path %></li>
								<li><%= link_to 'Cursos', curso_path %></li>
						        <li><%= link_to 'Conferencias', conferencia_path %></li>
								<li><%= link_to 'Contáctenos', contactenos_path %></li>
							</ul>

							</div>
							<ul class="accepted-payments">
							
								<div class="col-md-6 col-md-offset-4 side-social" align="center">
									
									<a class="col-md-2 col-md-offset-1" href="https://www.facebook.com/cecespolec/"  target="_blank"><%= image_tag('logitos-16.png') %></a>
									<a class="col-md-2 col-md-offset-0" href="https://twitter.com/cecespol" target="_blank"><%= image_tag('logitos-15.png') %></a>
									<!--<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>-->
									<a class="col-md-2 col-md-offset-0" href="https://ec.linkedin.com/in/educonespol" target="_blank"><%= image_tag('logitos-14.png') %></i></a>
								</div>
							</ul>
							<div class="copyright">
								<p>Copyright © 2017 CEC - ESPOL.</p>
							</div>
						</div>
					</div><!-- /.row -->
				</div>
			</footer>