<%= form_for @pedido do |f| %>
<%= render 'shared/msg' %>
<div class="container">
  <div class="background-div">
            <BR>Formulario de Registro<BR><BR>
  </div>  
  <br>
  <div class="letra row-form">
  <div class="col-md-2 col-md-12">
    <span>
     <%= f.text_field :nombre, class: 'slide-up', placeholder:'Nombre' %><%= f.label :Nombre %>
    </span>
  </div>  
  <div class="col-md-4 col-md-12">
    <span>
     <%= f.text_field :email, class: 'slide-up', placeholder:'Correo Electronico' %><%= f.label :'Correo Electronico' %>
    </span>
  </div>
  <div class="col-md-4 col-md-12">
    <span>
     <%= f.text_area :direccion, class: 'slide-up', placeholder:'Dirección' %><%= f.label :Dirección %>
    </span>
  </div>
   <div class="col-md-4 col-md-12">
    <span>
     <%= f.text_field :telefono, class: 'slide-up', placeholder:'Telefono' %><%= f.label :Telefono %>
    </span>
  </div>
  
  <div class="col-md-4 col-md-12" >
      <%= f.submit 'Finalizar', class: 'btn-form-pedidos' %>
  </div>
</div> 
<% end %>
