
<br>
<br>
<br>
<br>
<br>
<div class="background-div">
         <BR>Conócenos<BR><BR>
</div>
<div class="container">
								
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/assets/jquery.timelinr-0.9.6.js"></script>
	
	<script  >
		$(function(){
			$().timelinr({arrowKeys: 'true'})
		});		
	</script>
<!--</head>-->
<!--<body>-->

	<div id="timeline">
		<ul id="dates" style="width: 500px; margin-left: -225px;">
			<li><a href="#1982">1982</a></li>
			<li><a href="#2004">2004</a></li>
			<li><a href="#2005">2005</a></li>
			<li><a href="#2009">2009</a></li>
			<li><a href="#2010">2010</a></li>
			<li><a href="#2011">2011</a></li>
			<li><a href="#2012">2012</a></li>
			<li><a href="#2013">2013</a></li>
			<!--<li><a href="#2014">2014</a></li>-->
			<li><a href="#2016">2016</a></li>
		</ul>
		<ul id="issues"  style="width: 4000px; margin-left: -3200px;">
			<li id="1982" ">
				<%= image_tag('1.png', size:"290x230") %>
				<h1>1982</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">El Centro de Educaci&oacute;n Continua CEC-ESPOL fue creado por parte de la Escuela Superior Politécnica del Litoral ESPOL<b>,</b> con el propósito de que los profesionales al culminar sus estudios de tercer nivel tengan la posibilidad de actualizar sus conocimientos en diferentes áreas.</p>
			</li>
			<li id="2004" >
				<%= image_tag('2.png', size:"220x220") %>
				<h1>2004</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se cre&oacute; la fundaci&oacute;n Centro de Desarrollo de la Productividad CEDEP<b>,</b> un operador acreditado cuyo &uacute;nico objetivo era la capacitaci&oacute;n y que surgi&oacute; porque la antigua CNCF<b>,</b> ahora llamada (Secretar&iacute;a T&eacute;cnica de Capacitaci&oacute;n y Formaci&oacute;n Profesional SETEC<b>,</b> permitia a trav&eacute;s de concurso p&uacute;blico acceder a un porcentaje de recursos destinados para la capacitaci&oacute;n y formaci&oacute;n profesional.</p>
			</li>
			<li id="2005" >
				<%= image_tag('3.png') %>
				<h1>2005</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se creó el Programa de FORMACIÓN GERENCIAL DE EXPERTOS TRIBUTARIOS.</p>
			</li>
			<li id="2009" >
				<%= image_tag('4.png') %>
				<h1>2009</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se creó el Programa ESCUELA DE VENDEDORES .</p>
			</li>
			<li id="2010" >
				<%= image_tag('5.png') %>
				<h1>2010</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se creó el Programa GESTIÓN DE SEGURIDAD Y SALUD OCUPACIONAL.</p>
			</li>
			<li id="2011" >
				<%= image_tag('6.png') %>
				<h1>2011</h1>
				<%= image_tag('visto-1.jpg', size:"20x20") %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se creó el Programa GESTIÓN DE LA CALIDAD.</p>
				<%= image_tag('visto-1.jpg', size:"20x20") %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se creó el Programa ADMINISTRACIÓN POR PROCESOS PARA INSTITUCIONES PÚBLICAS.</p>
			</li>
			<li id="2012" >
				<%= image_tag('7.png') %>
				<h1>2012</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">CEC fue el anfitri&oacute;n en el encuentro regional de Am&eacute;rica Latina RECLA 2012 “TENDENCIAS DE LA EDUCACIÓN CONTINUA<b>,</b> UNA ESTRATEGIA DINAMIZADORA EN LATINOAMÉRICA Y EUROPA”.</p>
			</li>
			<li id="2013" >
				<%= image_tag('8.png') %>
				<h1>2013</h1>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se cre&oacute; el Curso DIRECCIÓN DE PROYECTOS CON ENFOQUE METODOLÓGICO PMI.</p>
			</li>
			<!--<li id="2014" >
				<%= image_tag('9.png') %>
				<h1>2014</h1>
				<p>Se desarrollaron en instalaciones del CEC 194 eventos con más de 4000 participantes.</p>
			</li>-->
			<li id="2016" >
				<%= image_tag('10.png') %>
				<h1>2016</h1>
				<%= image_tag('visto-1.jpg', size:"20x20") %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se obtuvo la ReCertificaci&oacute;n ISO 9001:2008.</p>
				<%= image_tag('visto-1.jpg', size:"20x20") %>
				<p class ="des_timeline" style="font-size: 18px; line-height: 30px;">Se organizó el Primer Ciclo de Conferencias gratuitas "Nuevos Paradigmas"<b>,</b> con el fin de crear mejores v&iacute;nculos con la sociedad ecuatoriana.</p>
			</li>
		</ul>
		<div id="grad_left"></div>
		<div id="grad_right"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev" style="display: block;">-</a>
	</div>




<!--</body>-->
<!--</html>-->
						
</div><!-- /.container -->

