
<br>
<br>
<br>
<br>
<br>
<div class="background-div">
      <BR>Contáctenos<BR><BR>
   </div> 
<div class="container">
    <!--<div class align = center-->
  <br><br>
	<section class="contact-info no-padding-top">
		<div class="container"> 
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-11">
					<h3>Contáctenos!</h3>
					    <hr class="linea" ></hr>
						<p class="subtitle" style="text-align: justify;">El CEC es la unidad de apoyo de la ESPOL que ofrece programas de capacitación, actualización y perfeccionamiento a profesionales y organizaciones del sector productivo que deseen acoger sus servicios, asegurando para ellos excelencia en el proceso enseñanza/aprendizaje, investigación, cultura, valores éticos y espíritu de emprendimiento.</p>
					<div class="col-md-4 col-md-12">
						<p class="col-md-1 col-md-6" style="text-align: center;"><strong>Sede Campus las Peñas</strong><br></p>
						<p class="col-md-1 col-md-6" style="text-align: center;"><strong>Sede Campus Gustavo Galindo</strong><br></p>
						<a class="col-md-1 col-md-1"><%= image_tag('telf.png') %></a>
						<p class="col-md-1 col-md-5"><strong>Teléfono:</strong> (04) 2081 130<br></p>
						<a class="col-md-1 col-md-1"><%= image_tag('telf.png') %></a>
						<p class="col-md-1 col-md-5"><strong>Teléfono:</strong> (04) 2269 763<br></p>
						<a class="col-md-1 col-md-1"><%= image_tag('email.png') %></a>
						<p class="col-md-1 col-md-5"><strong>Correo electrónico:</strong> educon2@espol.edu.ec<br></p>
						<a class="col-md-1 col-md-1"><%= image_tag('email.png') %></a>
						<p class="col-md-1 col-md-5"><strong>Correo electrónico:</strong> educon@espol.edu.ec<br></p>
						<div class="col-md-1 col-md-6">
						<iframe style="margin-left:80px; " width="300" height="400" frameborder="5" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1MqJMh0diwldLQKO_GfKgIHHbolc" width="400" height="300" style="border:5px;"></iframe>"></iframe><br/>
					    </div>
					    <div class="col-md-1 col-md-6">
						<iframe style="margin-left:80px; "width="300" height="400" frameborder="5" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1uRT5XGU2f1a1I-WG8W9KR7TWQoI" width="400" height="300" style="border:5px;"></iframe>"></iframe><br/>
					    </div>
					    <p class="col-md-1 col-md-12" style="text-align: center;"><strong></strong><br></p>
                        <p class="col-md-1 col-md-12" style="text-align: center;"><strong></strong><br></p>
					</div>
   
                <!---->
        
          
                <p class="text-form">Formulario Contáctenos</p>
				<hr class="linea" ></hr>
				</div>
		
					<%= render 'form' %>
				
	</div><!-- /.row -->
	</div><!-- /.container -->
</section>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
 </div>